:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }

  body {
    background-color: rgb(209, 240, 184);
  }

  #container {
    display: grid;
    width: 660px;
    height: 660px;
    grid-gap: .0em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr); 
    margin-top: 25px;
    margin: auto;
    }

    h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .grid-item {
    border: .1px solid #ddd; 
    text-align: center;
    outline: transparent;
    border-color: black;
    background-color:white;
  }

  .used {
    background-color: blue;
  }

  #clear, #reset {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

  .btn {
    text-align: center;
  }

